altair==5.2.0
appnope==0.1.3
asttokens==2.4.1
attrs==23.2.0
beautifulsoup4==4.10.0
blinker==1.8.2
branca==0.7.1
certifi==2024.2.2
charset-normalizer==2.0.11
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
distlib==0.3.6
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.8.0
fiona==1.9.6
Flask==3.0.3
folium==0.16.0
fonttools==4.47.2
geodatasets
geographiclib==2.0
geopandas
geopy==2.4.1
gpxpy==1.6.2
graphviz==0.20.3
greenlet==1.1.2
gunicorn==23.0.0
idna==3.3
ipykernel==6.29.0
ipython==8.21.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
jsonpickle==3.0.3
jsonschema==4.21.1
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver==1.4.5
mapclassify==2.6.1
MarkupSafe==2.1.4
matplotlib==3.8.2
matplotlib-inline==0.1.6
msgpack==1.0.3
neovim==0.3.1
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.4
packaging==23.2
pandas==2.1.4
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
platformdirs
pooch
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
pynvim==0.4.3
pyparsing==3.1.1
pyproj==3.6.1
python-dateutil==2.8.2
python-math==0.0.1
pytz==2023.3.post1
pyvis==0.3.2
pyzmq==25.1.2
referencing==0.32.1
requests==2.27.1
rpds-py==0.17.1
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.1
shapely==2.0.3
six==1.16.0
soupsieve==2.3.1
stack-data==0.6.3
threadpoolctl==3.3.0
toolz==0.12.1
tornado==6.4
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==1.26.8
vega-datasets==0.9.0
virtualenv
wcwidth==0.2.13
Werkzeug==3.0.4
xyzservices==2023.10.1
